alembic
click
colorama
Flask
Flask-Login
flask-marshmallow
Flask-Migrate
Flask-SQLAlchemy
greenlet
importlib-metadata
itsdangerous
Jinja2
Mako
MarkupSafe
marshmallow
packaging
pyparsing
six
SQLAlchemy
Werkzeug
zipp
