{% extends "bbase.html" %}
<style>
    .bg-img {
   background-image: url({{ url_for('static',filename = '/images/Slider A.jpg')}});
   height: 100%;
/* min-height: 380px; */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.
}
/* Add styles to the form container */
.container {
    position: absolute;
    right: 0;
    margin: 100px;
    max-width: 450px;
    padding: 16px;
    background-color: white;
}

</style>
{% block content %}
<body>

<div class="column is-4 is-offset-4">
    <!--<div class="bg-img-->
    <h3 class="title">Login</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}

        <form method="POST" action="/login">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Your Password">
                </div>
            </div>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox" name="remember">
                    Remember me
                </label>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Login</button>
<!--
            <button class="button is-block is-info is-large is-fullwidth">return</button>
-->
        </form>
        <a href="/signup">
            <p>Dont have an account ? Signup</p>

        </a>


    </div>
</div>
</div>
    {% endblock %}
