{% extends "navbarbase.html" %}
{% block title %} |Recipe results| {% endblock %}
{% block content %}

<div class="container">
<h3>Rsults for your feed calculation</h3>
<p>recipe Id: {{recipe.id}}</p>
<!--
<p>Your Id: {{curent_user.id}}</p>
<p>Feed category: </p><hr>
<p>Number of days you entered to produce feed for</p>
<h4>You will need:</h4><hr>
<p>Whole maize: {{recipe_instance.wmaize}} grams</p>
<p>Fish meal: {{recipe_instance.fishm}} grams</p>
<p>Wheat: {{recipe_instance.wmaize}}</p>
<p>Ground Nut: {{recipe_instance.gnut}}</p>
-->
<!--
<p>Total: {{result}}</p>
-->
<!--




</div>
{% endblock %}	

